@model Author

@{
    ViewData["Title"] = "Details";
    
}

<h2>جزئیات</h2>

<div>
    <h4>نویسنده</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AuthorID">ویرایش</a> |
    <a asp-action="Index">برگشت به لیست</a>
</div>
